/*---FONTS START---*/
@font-face{
    font-family: "Cuprum";
    src: url("../fonts/cuprum.woff2") format("woff2"),
         url("../fonts/cuprum.woff") format("woff");
    font-style: normal;
    font-display: swap;
    font-weight: 400;
}
@font-face{
    font-family: "Cuprum";
    src: url("../fonts/cuprumbold.woff2") format("woff2"),
         url("../fonts/cuprumbold.woff") format("woff");
    font-style: normal;
    font-display: swap;
    font-weight: bold;
}
@font-face{
    font-family: "Cuprum";
    src: url("../fonts/cuprumbolditalic.woff2") format("woff2"),
         url("../fonts/cuprumbolditalic.woff") format("woff");
    font-style: italic;
    font-display: swap;
    font-weight: bold;
}
@font-face{
    font-family: "Cuprum";
    src: url("../fonts/cuprumitalic.woff2") format("woff2"),
         url("../fonts/cuprumitalic.woff") format("woff");
    font-style: italic;
    font-display: swap;
    font-weight: 400;
}
@font-face{
    font-family: "PT Sans";
    src: url("../fonts/ptsans.woff2") format("woff2"),
         url("../fonts/ptsans.woff") format("woff");
    font-style: normal;
    font-display: swap;
    font-weight: 400;
}
@font-face{
    font-family: "PT Sans";
    src: url("../fonts/ptsansbold.woff2") format("woff2"),
         url("../fonts/ptsansbold.woff") format("woff");
    font-style: normal;
    font-display: swap;
    font-weight: bold;
}
/*---FONTS END---*/
/*---MAIN START---*/
html{ 
    box-sizing: border-box; 
}
*, 
*::before, 
*::after{ 
    box-sizing: inherit; 
}
body{
    margin: 0;
    padding: 0;
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 17px;
    line-height: 17px;
    font-weight: 400;
    color: #000000;
    background-color: #ffffff;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
    height: auto;
}
.visually-hidden:not(:focus):not(:active) {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    overflow: hidden;
}
/*---MAIN END---*/
/*---HEADER START---*/
.entrance{
    background-color: #f3f7f8;
}
.checkout{
    background-color: #32425c;
    width: 100%;
}
.container{
    width: 960px;
    margin: 0 auto;
    padding: 0 10px;
}
.logo-wrapper{
    display: flex;
    justify-content: space-between;
    align-content: center;
    height: 45px;
}
.logo-container{
    display: flex;
}
.logo{
    color: #ffffff;
    background-color: #ee3643;
    padding: 15px 60px;
    text-transform: uppercase;
    box-shadow: 0px 5px 0 0 #b52933;
}
.logo:hover,
.logo:focus{
    background-color: #ca2c37;
}
.search{
    color: #ffffff;
    background-color: #32425c;
    border: 0;
    height: 100%;
    padding: 15px 50px; 
}
.search:hover{
    color: #ffffff;
    background-color: #212a3a;
    border: 0;
}
.search:focus{
    color: #000000;
    background-color: #ffffff;
    border: 0;
}
.booking-list-ankor{
    color: #ffffff;
    padding: 15px 30px;
    height: 100%;
    display: block;
    position: relative;
}
.booking-list-ankor::before{
    content: "";
    fill: #6a7180;
    width: 14px;
    height: 16px;
    position: absolute;
    top: 15px;
    left: 3px;
    background-image: url(../img/cart-icon.svg);
    opacity: 0.3;
    background-repeat: no-repeat;
    background-position: 0 0;
}
.booking-list-ankor:hover{
    background-color: #212a3a;
}
.booking-list-ankor:active{
    background-color: #161d29;
}
.booking-list-order{
    color: #ffffff;
    background-color: #63a63e;
    padding: 15px 25px;
    height: 100%;
    display: block;
    position: relative;
}
.booking-list-order:hover{
    background-color: #63a63e;
}
.booking-list-order:active{
    color: #b6c8ae;
    background-color: #518534;
}
.booking-list-order:focus{
    color: #eef4ec;
    background-color: #63a63e;
}
.entrance-wrapper{
    display:flex;
    padding-top: 50px;
    padding-bottom: 50px;
    justify-content: space-between;
}
.short-description{
    color: #ee3643;
    font-size: 16px;
    font-style: italic;
    line-height: 23px;
    padding-left: 60px; 
    font-style: italic;
    font-family:  "Cuprum", Arial, sans-serif;
    margin: 0;
}
.nav-list,
.nav-list-footer,
.entrance-list,
.booking-list,
.advantages-list,
.bread-crumbs-list,
.switch-list,
.switch-list-power,
.goods-list,
.social-networks-list{
    list-style: none;
}
.booking-list{
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}
.main-navigation{
    background-color: #f3f7f8;
    padding-bottom: 60px;
}
.nav-list{
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0 25px;
    background-color: #32425c;
    box-shadow: inset 0 -5px 0 0 #293449;
}
.nav-link{
    color: #ffffff;
    padding: 20px 30px;
    display: block; 
}
.nav-link:focus,
.nav-link:hover{
    color: #ffffff;
    background-color: #293449;
}
.nav-link:active{
    color: #b6c8ae;
    background-color: #1d2739;
}
.tel-container p{
    margin: 0;
}
.tel{
    font-size: 21px;
    line-height: 21px;
    color: #ee3643;
    padding: 10px 50px;
    border: 3px solid #ffffff;
}
.address{
    color: #32425c;
    font-size: 14px;
    line-height: 24px;
    padding: 10px;
}
.mylinks{
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    color: #32425c;
    padding: 10px;
}
.mylinks a{
    vertical-align: top;
    text-decoration: underline;
    display: inline-block;
    margin-right: 15px;
}
.entrance-list{
    display: flex;
    padding: 0;
    margin: 0;
}
.entrance-list-item{
    margin-left: 10px;
}
.entrance-list-link{
    font-size: 21px;
    background-color: #ffffff;
    padding: 10px 25px;
    border: 3px solid #ffffff;
    line-height: 21px;
    text-align: center;
    display: block;
}
.entrance-list-link:hover{
    color:#ee3643;
}
.entrance-list-link:active{
    color: #b6c8ae;
}
/*---HEADER END---*/
/*---CONTENT INDEX START---*/
.about-wrapper{
    display: flex;
    padding: 85px 0;
    padding-top: 65px;
}
.about{
    width: 640px;
}
.about .red-btn{
    width: 220px;
}
.advantages-list{
    margin: 0;
}
.contacts,
.contacts .red-btn{
    width: 300px;
}
.contacts figure{
    margin: 0;
}
.map{
    margin-bottom: 40px;
}
.section-header{
    font-size: 30px;
    line-height: 30px;
    font-weight: normal;
}
.contacts .paragraph-text{
    margin-bottom: 35px;
}
.paragraph-text{
    font-size: 13px;
    line-height: 24px;
    font-family: "PT Sans", Arial, sans-serif;
    margin-bottom: 25px;
}
.advantages-item{
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 25px;
}
.red-btn{
    font-size: 14px;
    line-height: 18px;
    color: #ffffff;
    border: 0;
    display: block;
    padding: 10px 40px;
    background-color: #ee3643;
}
.red-btn:hover,
.red-btn:active{
    background-color: #ba2732;
}
.bread-crumbs-list{
    display: flex;
    margin: 0;
    padding: 20px 0;
}
.bread-crumbs-link{
    font-size:13px;
    line-height:18px;
    margin-right: 40px;
    color: #000000;
    font-family: "PT Sans", Arial, sans-serif;
}
.catalog-header{
    font-size:30px;
    line-height:30px;
    font-weight: 400;
    color: #32425c;
    margin: 0;
    padding: 35px 30px;
    background-color: #f2f6f8;
}
.swith-form{
    font-family: "PT Sans", Arial, sans-serif;
}
.switch-header{
    margin: 0;
}
.switch-list{
    padding: 20px 0;
    border-bottom: 1px solid #e5e5e5;
    margin: 0;
    padding-left: 40px;
    margin-bottom: 25px;
}
.switch-list-power{
    padding: 20px 0;
    margin: 0;
    padding-left: 40px;
    margin-bottom: 60px;
}
.switch-header{
    font-size: 17px;
    line-height: 30px;
    font-weight: 600;
}
.switch-item{
    font-size: 15px;
    line-height: 20px;
}
.show-button{
    font-size: 13px;
    line-height: 18px;
    border: 1px solid #e5e5e5;
    background-color: #ffffff;
    padding: 15px 40px;
}
.goods{
    display: flex;
    padding-bottom: 50px;
    padding-top: 20px;
}
.goods-list{
    margin: 0;
    padding:0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.goods-list-link{
    display: block;
    border: 1px solid #e5e5e5;
    margin-bottom: 20px;
}
.goods-list-header{
    font-size: 18px;
    line-height: 20px;
    font-weight: 600;
    text-align: center;
    color: #000000;
    font-family: "PT Sans", Arial, sans-serif;
    margin: 0;
}
.old-price{
    font-size: 17px;
    line-height: 18px;
    font-weight: 600;
    text-align: center;
    font-family: "PT Sans", Arial, sans-serif;
    color: #999999;
    text-decoration: line-through;
}
.current-price{
    text-align: center;
    margin: 0;
    padding-bottom: 20px;
}
.current-price span{
    font-size: 17px;
    line-height: 18px;
    color: #ffffff;
    background-color: #ee3643;
    width: 140px;
    padding: 13px 40px;
    display: inline-block;
}
.filters{
    width: 220px;
    margin-right: 20px;
}
.goods-catalog{
    width: 740px;
}
/*---CONTENT INDEX END---*/
/*---FOOTER START---*/
.footer{
    background-color: #32425c;
}
.footer-wrapper{
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
}
.footer-address{
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
    margin: 0;
    padding: 30px 0;
}
.footer-logo{
    font-size: 25px;
    line-height: 24px;
    color: #ffffff;
    background-color: #ee3643;
    box-shadow: 0 5px 0 0 #ca2c37;
    text-transform: uppercase;
    display: block;
    text-align: center;
    width: 220px;
    padding: 20px 40px;
}
.feedback{
    font-size: 16px;
    line-height: 18px;
    color: #ffffff;
    margin: 0;
}
.feedback-link{
    font-size: 16px;
    line-height: 18px;
    color: #ffd180; 
}
.feedback-link:hover{
    text-decoration: underline;
}
.feedback-link:active{
    text-decoration: none;
    color: #ee3643;
}
.footer-address-wrapper{
    width: 340px;
}
.footer-nav-wrapper{
    width: 600px;
}
.footer-link{
    font-size:18px;
    line-height: 24px;
    color: #ffffff;
    background-color: #32425c;
    padding-top: 30px;
    margin-left: 60px;
    display: block;
}
.footer-link:hover{
    text-decoration: underline;
}
.footer-link:active{
    text-decoration: none;
    color: #b6c8ae;
}
.footer-link-yellow{
    font-size:18px;
    line-height: 24px;
    color: #ffd180;
    background-color: #32425c;
    padding-top: 40px;
    margin-left: 60px;
    display: block;
}
.footer-link-yellow:hover{
    text-decoration: underline;
}
.footer-link-yellow:active{
    text-decoration: none;
    color: #ad956f;
}
.nav-list-footer{
    display: flex;
    justify-content: flex-end;
    margin: 0;
    background-color: #32425c;
}
.social{
    padding: 35px 0;
    background-color: #293449;
}
.social-networks-wrapper{
    display: flex;
    justify-content: space-between;
}
.social-networks-list{
    margin: 0;
    display: flex;
}
.social-networks-list-link {
    background-color: #212a3a;
    color: #ffffff;
    display : block;
    margin-right: 5px;
}
.social-networks-list-link img{
    padding: 10px 5px;
}
.social-networks-list-link:hover{
    background-color: #ee3643;
    color: #ffffff
}
/*---FOOTER END---*/
/*---MODALS START---*/
.modal-login label{
    font-size: 18px;
    line-height: 18px;
}
.modal-login input[type="text"],
.modal-login input[type="email"],
.modal-login textarea{
    border: 1px solid #dee3e4;
}
/*---MODALS END---*/